*{margin:0;padding:0;}
body{
	width: 100%;
	height: 100%;
	display: block;
	font-family: sans-serif;
}
div{
	display: block;
}
#view{
	display: block;
	width: 100%;
	height: 100%;
}
.parent-vertical-box{
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}
.vertical-box{
	margin: auto;
	display: table-cell;
	vertical-align: middle;
}
.login-box{
	text-align: center;
}
.overlay-title{
	color: rgba(0,0,0,0.8);
	font-size: 32px;
	line-height: 1.1;
	margin-bottom: 12px;
}
.overlay-content{
	color: rgba(0,0,0,0.6);
	line-height: 1.4;
	margin-bottom: 30px;
}
.signin-privacy-messages {
	margin-top: 40px;
	text-align: center;
	font-size: 12px;
}
.signin-privacy-messages a{
	color: #b3b3b1;
}
.overlay-actions{

}
.element{
	margin: 10px 0px;
	display: block;
}
.last-element{
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #e3e3e3;
}

.btn-twitter{
	background-color: #55acee;
	border: none;
	color: #fff;
	width: 200px;
}
.btn-twitter:hover {
	background-color: #006daa;
}
.btn-facebook{
	background-color: #3b5998;
	border: none;
	color: #fff;
	width: 200px;
}
.btn-facebook:hover {
	background-color: #1d315b;
}
.btn {
	display: inline-block;
	position: relative;
	border: 0;
	outline: 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.15);
	vertical-align: bottom;
	white-space: nowrap;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 999em;
	-moz-border-radius: 999em;
	border-radius: 999em;
	-webkit-transition: .1s background-color,.1s border-color,.1s color;
	-moz-transition: .1s background-color,.1s border-color,.1s color;
	-ms-transition: .1s background-color,.1s border-color,.1s color;
	-o-transition: .1s background-color,.1s border-color,.1s color;
	transition: .1s background-color,.1s border-color,.1s color;
}
.btn-login{
	height: 38px;
	line-height: 37px;
	padding: 0 16px;
}

.btn-action{
	height: 38px;
	line-height: 37px;
	padding: 0 16px;
	background: transparent;
}

.btn-step{
	height: 38px;
	line-height: 37px;
	padding: 0 8px;
	color: #777;
	width: 100px;
	margin: 20px 20px;
	border: 1px solid #777;
	background-color: transparent;
}

.btn-back{
	border: 1px solid rgb(224, 135, 135);
}

.btn-next{
	border: 1px solid rgb(107, 201, 133);
}

.input_title{
	border: none;
	height: 40px;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	max-width: 400px;
}

.input_subtitle{
	border: none;
	height: 28px;
	font-size: 24px;
	text-align: center;
	outline: none;
	max-width: 400px;
}

.select-category{
	height: 30px;
	padding: 0px 8px;
}

.chat-box{
	width: 300px;
	height: 300px;
	border: 1px solid #dcdcdc;
}
.input-txt{
	height: 28px;
	width: 240px;
}
.btn-send{
	width: 54px;
	height: 30px;
	border: none;
}

.friend-item{
	padding: 12px 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.friend-item a{
	margin: 0px 10px;
}
.friend-item .status {
	color: #DDD;
}
.btn-friend {
	width: 80px;
	padding: 4px;
	margin-top: -5px !important;
}
.list-friend .active{
	background: #DDD;
	display: block;
}
.notes-marker{
	position: absolute;
}

#note-count{
	display: block;
	position: absolute;
	width: 26px;
	height: 30px;
	background: #ccc;
	text-align: center;
	line-height: 30px;
	margin-top: 15px;
	cursor: pointer;
}

#note-content{
	border-top: 1px solid #DDD;
	margin-left: 26px;
	margin-top: 15px;
	display: block;
	overflow: hidden;
	position: absolute;
	width: 0px;
	height: 300px;
	-webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

#note-content.active{
	width: 225px;
}
.trans-left{
	-ms-transform: translate(-200px,0px); /* IE 9 */
   	-webkit-transform: translate(-200px,0px); /* Chrome, Safari, Opera */
    transform: translate(-200px,0px);
}

#main-article{
	position: relative;
	-webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}