<div class="parent-vertical-box">
	<div class="login-box vertical-box">
		<h3 class="overlay-title">Mạng Văn Học</h3>
		<div class="overlay-content">Đăng nhập vào Mạng Văn Học hoặc tạo tài khoản mới</div>
		<div class="overlay-actions ">
			<div class="element-set-vertical">
				<input type="text" ng-model="username">
				<input type="password" ng-model="password">
				<a ng-click="login()">Đăng nhập</a>
			</div>
			<div class="element-set-vertical">
				<div class="element"><button class="btn btn-login btn-twitter">Đăng nhập với Twitter</button></div>
				<div class="element"><button ng-click="fbLogin()" class="btn btn-login btn-facebook">Đăng nhập với Facebook</button></div>
			</div>
		</div>
		<p class="signin-privacy-messages"><a href="/#/privacy">Bạn có thể đọc các điều khoản của trang web tại đây.</a></p>
	</div>
</div>
