<div class="parent-vertical-box">
	<div class="login-box vertical-box">
		<h3 class="overlay-title">Mạng Văn Học</h3>
		<div class="overlay-content">Tạo bài viết</div>
		<div class="overlay-actions ">
			<div class="element-set-vertical">
				<div class="element"><input type="text" name="title_document" id="title_document" ng-model="title_document" placeholder="TITLE" /></div>
				<div class="element">
					<select name="categories" id="categories">
						<option value="1">Truyện ngắn</option>
						<option value="2">Truyện dài</option>
						<option value="3">Tiểu thuyết</option>
						<option value="4">Tâm sự</option>
					</select>
				</div>
				<div class="element last-element">
					<a href="#documents" class="btn btn-step btn-back">Quay lại</a>
					<a href="#document/create" class="btn btn-step btn-next">Tiếp tục</a>
				</div>
			</div>
		</div>
	</div>
</div>
