<p>Thể lệ Mạng Văn Học</p>
<div>
	<p>Cảm ơn bạn đã ghé thăm trang web của chúng tôi. Chính sách bảo mật này cho bạn biết cách sử dụng thông tin cá nhân thu thập tại trang web này. Xin vui lòng đọc chính sách bảo mật này trước khi sử dụng các trang web hoặc gửi bất kỳ thông tin cá nhân. Bằng cách sử dụng trang web, bạn phải chấp nhận các hoạt động được mô tả trong chính sách bảo mật này. Các thông lệ này có thể thay đổi, nhưng thay đổi sẽ được đăng và sẽ chỉ áp dụng cho các hoạt động và thông tin trên một đi về sau, cơ sở không hồi tố. Bạn nên xem xét các chính sách bảo mật bất cứ khi nào bạn truy cập các trang web để theo dõi các thay đổi chính sách và đảm bảo rằng bạn hiểu làm thế nào bất kỳ thông tin cá nhân mà bạn cung cấp sẽ được sử dụng.</p>
	
	<p>Lưu ý: việc sử dụng riêng được quy định trong chính sách bảo mật này là dành cho trang web này mà thôi. Nếu bạn liên kết đến các trang web khác, vui lòng xem lại chính sách bảo mật tại các trang web đó.</p>

	<p>Thu thập thông tin</p>

	<p>Chúng tôi thu thập thông tin cá nhân, như tên, địa chỉ email, vv.., khi du khách của chúng tôi tự nguyện đăng tải. Thông tin này chỉ được sử dụng để hoàn thành các yêu cầu cụ thể về bạn và giúp bạn đăng ký vào dách sách dịch vụ điện tử của chúng tôi, trừ khi bạn cho phép sử dụng nó trong cách cư xử khác với chúng tôi.</p>

	<p>Cookie/Công nghệ theo dõi</p>

	<p>Trang web này có thể sử dụng cookie và công nghệ theo dõi tùy thuộc vào các tính năng được cung cấp. Cookie và công nghệ theo dõi hữu ích cho việc thu thập thông tin như loại trình duyệt và hệ điều hành, theo dõi số lượng khách truy cập vào trang web, và sự hiểu biết như thế nào khách sử dụng trang web. Cookie cũng có thể giúp tùy biến trang web dành cho khách truy cập. Thông tin cá nhân không thể được thu thập thông qua các tập tin cookie và công nghệ theo dõi khác, tuy nhiên, nếu trước đó bạn đã cung cấp thông tin cá nhân, các tập tin cookie có thể được gắn với thông tin đó. Cookie tổng hợp và theo dõi thông tin có thể được chia sẻ với bên thứ ba.</p>

	<p>Phân phối thông tin</p>

	<p>Chúng tôi có thể chia sẻ thông tin với các cơ quan chính phủ hoặc các công ty khác hỗ trợ chúng tôi trong phòng chống gian lận hay điều tra. Chúng tôi có thể làm như vậy khi: (1) được phép hoặc theo yêu cầu của pháp luật, hoặc, (2) cố gắng để bảo vệ chống lại hoặc ngăn chặn gian lận thực tế hoặc tiềm năng hoặc giao dịch trái phép, hoặc, (3) điều tra gian lận đã xảy ra. Thông tin không được cung cấp cho các công ty này cho các mục đích tiếp thị.</p>

	<p>Cam kết bảo mật dữ liệu</p>

	<p>Thông tin cá nhân của bạn được giữ an toàn. Chỉ có nhân viên có thẩm quyền, các đại lý và đối tác (người đã cam kết giữ thông tin an toàn và bảo mật) có thể truy cập thông tin này. Tất cả các email và các bản tin từ trang web này cho phép bạn chọn không tham gia thư tin khác nữa.</p>

	<p>Bảo mật Thông tin liên hệ</p>

	<p>Nếu bạn có bất kỳ câu hỏi, mối quan tâm, hoặc nhận xét về chính sách bảo mật của chúng tôi bạn có thể liên hệ với chúng tôi bằng các phương tiện được cung cấp trên trang web này.</p>

	<p>Chúng tôi bảo lưu quyền thay đổi chính sách này. Bất kỳ thay đổi chính sách này sẽ được đăng.</p>
</div>