<div class="parent-vertical-box">
	<div class="login-box vertical-box">
		<h3 class="overlay-title">Mạng Văn Học</h3>
		<div class="overlay-content">Thông tin tài khoản</div>
		<div class="overlay-actions ">
			<div class="element-set-vertical">
				<div class="element">
					<input type="text" id="alias" class="input_title" name="alias" ng-model="alias" value="" placeholder="Bút danh của bạn"/>
				</div>
				<div class="element last-element">
					<a href="#login" class="btn btn-step btn-back">Quay lại</a>
					<button ng-click="next()" class="btn btn-step btn-next">Tiếp tục</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  		document.getElementById('alias').focus();
</script>
