<snap-drawer>
  <div id="sider" class="sider">
    <ul class="sider_list">
      <li class="sider_list_item"><a class="sider_list_item_btn" href="#documents">Home</a></li>
      <li ng-if="user" class="sider_list_item"><a class="sider_list_item_btn" href="#account">Tài khoản</a></li>
      <li ng-if="!user" class="sider_list_item"><a class="sider_list_item_btn" href="#login">Đăng nhập</a></li>
      <li ng-if="!user" class="sider_list_item"><a class="sider_list_item_btn" href="#register-form">Đăng kí</a></li>
      <li ng-if="user" class="sider_list_item"><a class="sider_list_item_btn" href="#friend">Bạn bè</a></li>
      <li ng-if="user" class="sider_list_item"><a class="sider_list_item_btn" href="#message">Tin nhắn</a></li>
      <li ng-if="user" class="sider_list_item"><a class="sider_list_item_btn" href="#collection">Bộ sưu tập</a></li>
      <li ng-if="user" class="sider_list_item"><a class="sider_list_item_btn" href="#my-document">Bài viết của tôi</a></li>
      <li ng-if="user" class="sider_list_item"><a class="sider_list_item_btn" href="#document/pre-create">Viết bài mới</a></li>
    </ul>
  </div>
</snap-drawer>
<snap-content>
<div id="wrapper">
  <div class="fixed">
  <!-- <span ng-class="{'box_control_disable':disableBoxControl}" class="box_control" snap-toggle="left"></span> -->
  <span class="box_control" snap-toggle="left"></span>
</div>
<div class="container">
	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Đăng kí tài khoản mới</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="username">Tên đăng nhập</label>
  <div class="controls">
    <input ng-model="username" id="username" name="username" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="password">Mật khẩu</label>
  <div class="controls">
    <input ng-model="password" id="password" name="password" type="password" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="re-passwrod">Xác nhận lại mật khẩu</label>
  <div class="controls">
    <input ng-model="rePassword" id="re-passwrod" name="re-passwrod" type="password" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">Email</label>
  <div class="controls">
    <input ng-model="email" id="email" name="email" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="alias">Bút danh</label>
  <div class="controls">
    <input ng-model="alias" id="alias" name="alias" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

</fieldset>
<div class="element last-element">
        <button ng-click="back()" class="btn btn-step btn-back">Điền lại</button>
        <button ng-click="reg()" class="btn btn-step btn-next">Đăng kí</button>
  </div>
</form>
</div>
</div>
</snap-content>