<div class="parent-vertical-box">
	<div class="login-box vertical-box">
		<h3 class="overlay-title">Mạng Văn Học</h3>
		<div class="overlay-content">Thông tin tài khoản</div>
		<div class="overlay-actions ">
			<div class="element-set-vertical">
				<div class="element">
					<label for="alias">Bút danh</label>
					<input type="text" name="alias" ng-model="alias" value=""/>
				</div>
				<div class="element last-element">
					<a href="#" class="btn btn-step btn-back">Quay lại</a>
					<a href="#documents" class="btn btn-step btn-next">Tiếp tục</a>
				</div>
			</div>
		</div>
	</div>
</div>
